<table id="whole_table"><tr>
	<td width="850" valign="top">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <td height="26">
		    	<div align="right">
		    		<img src="/images/home_folder/program_title.gif" width="310" height="39" />
				</div></td>
		  </tr>
		  <tr>
		
		    <td valign="top">
		    	<div id="welcome_div"><p class="txtheader"><a name="welcome" id="welcome"></a>Welcome  of Mobile hospital Bus and Invocation</a>
		    	
		      </h2></p></div>
		      <table width="100%" border="0" cellspacing="0" cellpadding="0">
		        <tr>
		          <td width="28%"><img src="/images/home_folder/welcome_img.jpg" width="200" height="152" /></td>
		          <td width="72%" valign="top"><p>The  first event on the day of mobile hospital program starts with a welcome  ceremony. The villagers of the target programme gather at the entrance of the  village to welcome the mobile hospital bus. The welcome ceremony is dependent  on the villagers as they could have done the welcoming ceremony for Bhagawan  Baba if He would have visited them. They offer the traditional Puja (worship) by  cleaning the feet with water and offer flower and coconut. </p>
		            <p>After the welcome by  the villagers, the volunteers of the mobile hospital start the invocation song  (Ganesha bhajan and two more Sai bhajan) while walking towards the &ldquo;Inauguration  and briefing area&rdquo;. This invocation song is a ritual in SAI fold. The  procession of volunteers, doctors and villagers are made towards the &ldquo;Inauguration  and Briefing&rdquo; area in a queue with separate queue for male and female.</p>
				  </td>
		        </tr>
		      </table>
	
		      <div id="inaguration_div"><p class="txtheader"><a name="inaguration" id="inaguration"></a>Inauguration and briefing</p></div>
		      <table width="100%" border="0" cellspacing="0" cellpadding="0">
		        <tr>
		          <td width="72%"><p>The inauguration and briefing activity is  a key activity of the day as it sets up the context for the day&rsquo;s activities  and establishes the first trust and alignment between the doctors and patients.  This activity usually happens in an open space which can accommodate hundreds  of people. A center stage is set for the doctors to provide briefing about the  program as well as provide awareness and knowledge about best practices. </p>
		            <p>The  doctors usually provide examples of people sitting in the forum as they connect  them well in previous programmes. Doctors not only provide briefing about the  process but also teach spiritual practices and provide examples how that helps  people to stay out of diseases. A special learning mechanism called &ldquo;Lipi&rdquo; also  gets elaborated here. Couple of doctors provides the inaugural speech after  offering &ldquo;Pranam&rdquo; to Bhagawan Baba. The sessions also get open for question and  answer session. In this activity, doctors usually provide all information in  local language and hence it is very much essential to have doctors or coordinators  speaking the local language. The other doctors who do not speak during this  session sit along with crowd in the sitting area so that they also get  introduced to the crowd.</p></td>
		
		          <td width="28%" valign="top"><div align="center"><img src="/images/home_folder/inaguration_img.jpg" width="200" height="152" /></div></td>
		        </tr>
		      </table>
	    	  <div id="receiption_div" ><p class="txtheader"><a name="reception" id="reception"></a>Reception</a>
		        </h2>
		      </p></div>
		      <table width="100%" border="0" cellspacing="0" cellpadding="0">
		        <tr>
		
		          <td width="28%" valign="top"><img src="/images/home_folder/reception_img.jpg" width="200" height="152" /></td>
		          <td width="72%" valign="top"><p>The reception event is the third stage.  Usually two reception areas are arranged one each for female and male patients.  This activity is completely manned by volunteers. During this process, the  doctors take position and get established in their respective rooms. After  briefing, the female volunteers lead the female villagers to the female  reception area and the same process gets repeated for male members as well. In  the reception area first a single big line is made. Few trained volunteers ask  each member what is their health problem. After listening the problem, the  volunteers lead them to different lines in another close by area. </p>
		            <p>These lines  are formed as per specialization needs to be inspected such as eye inspection,  medicine, surgery, ENT, gynecology or pediatrician etc.. The volunteers need to  be trained very well to understand the problem and identify the appropriate  treatment type for every individual. There will be in-charge volunteer for  every individual line in the reception area. Once good number of people get  gather for particular treatment room, the patients are lead to the waiting area  by one volunteer. The volunteers also see the book that the chronic patient  carry along with them to decide which doctor room they need to visit. The  in-flow and out flow of the waiting area is controlled at the reception. Only  few patients go to the waiting area as there is possibility of noise while  waiting long for the doctors to attend them. This is handled and controlled by  the trained volunteers.</p></td>
		        </tr>
		      </table>

	    	  <div id="waiting_area_div" ><p class="txtheader"><a name="waitingarea" id="waitingarea"></a>Waiting Area</p></div>
		      <table width="100%" border="0" cellspacing="0" cellpadding="0">
		
		        <tr>
		          <td width="72%"><p>The next activity after the reception and  allocation is the waiting area. In the reception lines are formed for  specialized hospital rooms. The volunteer&rsquo;s in-charge of the particular  hospital room needs to lead the patients to another waiting area near the  hospital rooms. The waiting room near the hospital rooms should be filled with  less number of patients. So the volunteers make sure the in-floe of patients to  this waiting area. Some waiting areas are outside the hospital room and some  are inside the hospital rooms. Only 4/5 members should be inside the hospital  waiting area. The members in outside waiting room are generally treated with  water and some food if possible. Few waiting area also are covered with health  care teaching.</p>
		            <p> Specifically for women, the health, hygiene training is given at  the waiting area by using TV. The waiting area inside the hospital room need to  attended by the volunteers and the basic form that the patient need to carry  along with him need to be filled up here by the volunteers by asking questions  to patients. So the total waiting area is three places and the service offered  in each area is independent except the common duty of maintaining silence.</p></td>
		          <td width="28%" valign="top"><div align="center"><img src="/images/home_folder/waiting_img.jpg" width="200" height="152" /></div></td>
		        </tr>
		      </table>

	    	  <div id="hospital_rooms_div"><p class="txtheader"><a name="hospital" id="hospital"></a>Hospital Rooms</a>
		          </h2>
		      </p>
		      <table width="100%" border="0" cellspacing="0" cellpadding="0">
		        <tr>
		          <td width="28%" height="201" valign="top"><img src="/images/home_folder/hospital.jpg" width="200" height="152" /></td>
		          <td width="72%" valign="top"><p>The hospital rooms are made specific to  the kind of treatments. Different rooms in the village with classrooms of the  schools or houses are made hospitals for the programme. Each room is converted into  a hospital treatment room with all temporary arrangements. Patient beds,  curtains, dark room, surgery tables, eye testing machines etc. are installed in  the room to provide a hospital atmosphere. Each specific room is equipped with  all equipments that the doctors need along with some medicines that are  specific to the treatment. All these arrangements are made two hours before the  camp starts and all facilities are made available as soon as the doctors arrive  at the room. Doctors are provided inspection space with tables and other  accessories. The types of hospital rooms created are for the following  treatments:</p>
		            <table width="100%" border="0" cellspacing="0" cellpadding="0">
		              <tr>
		
		                <td width="49%" class="content"><ul>
		                    <li>General Medicine </li>
		                  <li>ENT </li>
		                  <li>Ophthalmology </li>
		                  <li>Dental medicine </li>
		                  <li>Obstetrics and Gynaecology </li>
		
		                </ul></td>
		                <td width="51%" valign="top" class="content"><ul>
		                    <li>Orthopaedics </li>
		                  <li>Paediatrics </li>
		                  <li>Geriatrics </li>
		                  <li>Dermatology </li>
		                </ul></td>
		
		              </tr>
		            </table>                        </td>
		        </tr>
		      </table>

			  <!--This is the content for the Nodal Satilite Villages-->
			  	  <a name="work_flow_anchor" id="work_flow_anchor"></a>
				  <div id="div_work_flow_div" style="display:none;position:absolute;">
				  	<table cellpadding=0 cellspacing=0 border=0>
						<tr>
						  <td colspan=2>
						    <img src="/images/home_folder/home_top.gif" border=0 usemap="#MAP_home_top_process_flow_map">
							<map name="MAP_home_top_process_flow_map">
								<area shape="rect" coords="745,0,775,30" title="Close" onclick="take_up_details('div_work_flow_div');" onmouseover="this.style.cursor='pointer';">
							</map>
						  </td>
						</tr>
						<tr style="background-image:url('/images/home_folder/home_middle.gif')">
							<td align="right">
								<img src="/images/home_folder/process_flow_left_top.gif" border=0 width="300" height="225" onclick="$('#image_left_top').slideDown(300);$('#image_left_top_th').slideUp(100);" id="image_left_top_th">
								<img src="/images/home_folder/process_flow_left_top.gif" border=0 style="padding-bottom:40px;display:none;position:absolute;z-index:'4'" id="image_left_top" onclick="$('#image_left_top_th').slideDown(100);$('#image_left_top').slideUp(300);" >
							</td>
							<td align="left">
								<img src="/images/home_folder/process_flow_right_top.gif" border=0 width="300" height="225" onclick="$('#image_right_top').slideDown(300);$('#image_right_top_th').slideUp(100);" id="image_right_top_th">
								<img src="/images/home_folder/process_flow_right_top.gif" border=0 style="padding-bottom:40px;display:none;position:absolute;z-index:'4'" id="image_right_top" onclick="$('#image_right_top_th').slideDown(100);$('#image_right_top').slideUp(300);" >
							</td>
						</tr>
						<tr style="background-image:url('/images/home_folder/home_middle.gif')">
							<td align="right">
								<img src="/images/home_folder/process_flow_left_bottom.gif" border=0 width="300" height="225" onclick="$('#image_left_bottom').slideDown(300);$('#image_left_bottom_th').slideUp(100);" id="image_left_bottom_th">
								<img src="/images/home_folder/process_flow_left_bottom.gif" border=0 style="padding-bottom:40px;display:none;position:absolute;z-index:'4'" id="image_left_bottom" onclick="$('#image_left_bottom_th').slideDown(100);$('#image_left_bottom').slideUp(300);" >
							</td>
							<td align="left">
								<img src="/images/home_folder/process_flow_right_bottom.gif" border=0 width="300" height="225" onclick="$('#image_right_bottom').slideDown(300);$('#image_right_bottom_th').slideUp(100);" id="image_right_bottom_th">
								<img src="/images/home_folder/process_flow_right_bottom.gif" border=0 style="padding-bottom:40px;display:none;position:absolute;z-index:'4'" id="image_right_bottom" onclick="$('#image_right_bottom_th').slideDown(100);$('#image_right_bottom').slideUp(300);" >
							</td>
						</tr>
					  <tr><td colspan=2>
						<img src="/images/home_folder/home_bottom.gif" border=0>
					  </td></tr>
					 </table>
				  </div>


			  <!--This is the content for the Nodal Satilite Villages-->
			  	  <a name="nodal_satilite_villages_anchor" id="nodal_satilite_villages_anchor"></a>
				  <div id="div_nodal_satilites_div" style="display:none;position:absolute;">
				  	<table cellpadding=0 cellspacing=0 border=0>
						<tr>
						  <td colspan=4>
						    <img src="/images/home_folder/home_top.gif" border=0 usemap="#MAP_home_top_new_map">
							<map name="MAP_home_top_new_map">
								<area shape="rect" coords="745,0,775,30" title="Close" onclick="take_up_details('div_nodal_satilites_div');" onmouseover="this.style.cursor='pointer';">
							</map>
						  </td>
						</tr>
						<tr style="background-image:url('/images/home_folder/home_middle.gif')"><td height="35px;" align="center" colspan=4 style="font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:14;font-weight:bold;">
							Nodal Satilite Villages
						</td></tr>
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
						<tr style="background-image:url('/images/home_folder/home_middle.gif')">
							<td class="TableHeader" width="50px">S.No.</td>
							<td class="TableHeader" width="250px">Mandal</td>
							<td class="TableHeader" width="200px;">Nodal Village</td>
							<td class="TableHeader" align="left">Satellite Villages</td>
						</tr>
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
						<tr style="background-image:url('/images/home_folder/home_middle.gif')">
							<td class="TableContent">01</td>

							<td class="TableContent">Puttaparthi</td>
							<td class="TableContent">Rachuvaripalli</td>
							<td class="TableContentLeft">
								<table>
									<tr><td>01. Bugga Palli</td></tr>
									<tr><td>02. Konapuram</td></tr>
									<tr><td>03. Marla Palli</td></tr>

									<tr><td>04. Pedaballi</td></tr>
									<tr><td>05. Subbarayuni Palli</td></tr>
								</table>
							</td>
						</tr>
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
						<tr style="background-image:url('/images/home_folder/home_middle_light.gif')">
							<td class="TableContent">02</td>
		
							<td class="TableContent">Puttaparthi</td>
							<td class="TableContent">Kotlapalli</td>
							<td class="TableContentLeft">
								<table>
									<tr><td>06. Daduvari Palli</td></tr>
									<tr><td>07. Gajula Palli</td></tr>
									<tr><td>08. Kathivari Palli</td></tr>
		
									<tr><td>09. Nidimamidi</td></tr>
									<tr><td>10.	Surugon Palli</td></tr>
								</table>
							</td>
						</tr>
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
						<tr style="background-image:url('/images/home_folder/home_middle.gif')">
							<td class="TableContent">03</td>
		
							<td class="TableContent">Kothacheruvu</td>
							<td class="TableContent">Byrapuram</td>
							<td class="TableContentLeft">
								<table>
									<tr><td>11.	Chennaraju Palli</td></tr>
									<tr><td>12.	Kammavari Palli</td></tr>
									<tr><td>13.	Obula Devara Palli</td></tr>
		
									<tr><td>14.	Pothulakunta</td></tr>
									<tr><td>15.	Sainagar</td></tr>
									<tr><td>16.	Yerrepalli</td></tr>
								</table>
							</td>
						</tr>
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
						<tr style="background-image:url('/images/home_folder/home_middle_light.gif')">
							<td class="TableContent">04</td>
							<td class="TableContent">Kothacheruvu</td>
							<td class="TableContent">Markuntapalli</td>
							<td class="TableContentLeft">
								<table>
									<tr><td>17.	Gonnigunta Palli</td></tr>
									<tr><td>18.	Guntipalli</td></tr>
		
									<tr><td>19.	Jagaraju Palli</td></tr>
									<tr><td>20.	Locerla</td></tr>
									<tr><td>21.	Talamarla</td></tr>
									<tr><td>22.	Venkatagari Palli</td></tr>
								</table>
							</td>
						</tr>
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
						<tr style="background-image:url('/images/home_folder/home_middle.gif')">
							<td class="TableContent">05</td>
							<td class="TableContent">Nallamada</td>
							<td class="TableContent">Cherlopalli</td>
							<td class="TableContentLeft">
								<table>
									<tr><td>23.	Amagondapalem</td></tr>
		
									<tr><td>24.	Jankam Palli</td></tr>
									<tr><td>25.	Kambalaparthi</td></tr>
									<tr><td>26.	Narsam Palli</td></tr>
									<tr><td>27.	Narsam Palli Thanda</td></tr>
									<tr><td>29.	Vengalammacheruvu</td></tr>
								</table>
		
							</td>
						</tr>
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
						<tr style="background-image:url('/images/home_folder/home_middle_light.gif')">
							<td class="TableContent">06</td>
							<td class="TableContent">Obuladevaracheruvu(O.D.Cheruvu)</td>
							<td class="TableContent">Kondakamarla</td>
							<td class="TableContentLeft">
		
								<table>
									<tr><td>30.	Dabruvari Palli</td></tr>
									<tr><td>31.	Gowrapuram</td></tr>
									<tr><td>32.	Naina Kota</td></tr>
									<tr><td>33.	Naina Kota Thanda</td></tr>
									<tr><td>34.	Nawab Kota</td></tr>
		
									
								</table>
							</td>
						</tr>
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
						<tr style="background-image:url('/images/home_folder/home_middle.gif')">
							<td class="TableContent">07</td>
							<td class="TableContent">Nallamada</td>
							<td class="TableContent">Chowtukuntapalli</td>
		
							<td class="TableContentLeft">
								<table>
									<tr><td>35.	Kurumala</td></tr>
									<tr><td>36.	Nallamada</td></tr>
									<tr><td>37.	Yeddulolla Palli</td></tr>
								</table>
							</td>
		
						</tr>
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
						<tr style="background-image:url('/images/home_folder/home_middle_light.gif')">
							<td class="TableContent">08</td>
							<td class="TableContent">Nallamada</td>
							<td class="TableContent">Vankarakunta</td>
							<td class="TableContentLeft">
								<table>
		
									<tr><td>38.	Basireddy Palli</td></tr>
									<tr><td>39.	Nallasingarayagari palli</td></tr>
									<tr><td>40.	Reddy Palli</td></tr>
									<tr><td>41.	Sanegari Palli</td></tr>
									
									
								</table>
							</td>
						</tr>
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
						<tr style="background-image:url('/images/home_folder/home_middle.gif')">
							<td class="TableContent">09</td>
							<td class="TableContent">Chennekothapalli(C.K.Palli)</td>
							<td class="TableContent">Veldurthi</td>
							<td class="TableContentLeft">
								<table>
									<tr><td>42.	Amadala kunta</td></tr>
		
									<tr><td>43.	Gangineni Palli</td></tr>
									<tr><td>44.	Gangineni Palli Thanda</td></tr>
									<tr><td>45.	Kanumukala</td></tr>
									<tr><td>46.	Yerrononi Palli</td></tr>
									<tr><td>47.	Yerrononi Palli Thanda</td></tr>
								</table>
		
							</td>
						</tr>
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
						<tr style="background-image:url('/images/home_folder/home_middle_light.gif')">
							<td class="TableContent">10</td>
							<td class="TableContent">Kothacheruvu</td>
							<td class="TableContent">Mylasamudram</td>
							<td class="TableContentLeft">
		
								<table>
									<tr><td>48.	Bandimidi Palli</td></tr>
									<tr><td>49.	Chinna Boyena Palli</td></tr>
									<tr><td>50.	Kadiridevaraya Palli</td></tr>
									<tr><td>51.	Kdireppa Palli</td></tr>
									<tr><td>52.	Kesapuram</td></tr>
		
									<tr><td>53.	Narepalli</td></tr>
																			
								</table>
							</td>
						</tr>
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
						<tr style="background-image:url('/images/home_folder/home_middle.gif')">
							<td class="TableContent">11</td>
							<td class="TableContent">Bukkapatnam</td>
		
							<td class="TableContent">Marala</td>
							<td class="TableContentLeft">
								<table>
									<tr><td>54.	Krishana puram</td></tr>
									<tr><td>55.	Mangala Madaka</td></tr>
									<tr><td>56.	Rama puram</td></tr>
									<tr><td>57.	Seekevari kunta</td></tr>
		
									<tr><td>58.	Yadalanka Palli</td></tr>
									
								</table>
							</td>
						</tr>
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
						<tr style="background-image:url('/images/home_folder/home_middle_light.gif')">
							<td class="TableContent">12</td>
							<td class="TableContent">Bukkapatnam</td>
		
							<td class="TableContent">Chandrayunipalli</td>
							<td class="TableContentLeft">
								<table>
									<tr><td>59.	Bitragunta Palli</td></tr>
									<tr><td>60.	Dhoopam Palli</td></tr>
									<tr><td>61.	Guni Palli</td></tr>
									<tr><td>62.	Kotha Kota</td></tr>
		
									<tr><td>63.	Siddiramapuram</td></tr>
																													
								</table>
							</td>
						</tr>	
						<tr><td colspan=4><img src="/images/home_folder/row_border.gif"></td></tr>
					  <tr><td colspan=4>
						<img src="/images/home_folder/home_bottom.gif" border=0>
					  </td></tr>
				  	</table> 
				  </div>
			  <!-- Till here -->
	    	  <div id="pharmacy_div"><p class="txtheader"><a name="Pharmacy" id="Pharmacy"></a>Pharmacy</p></div>
		      <table width="100%" border="0" cellspacing="0" cellpadding="0">
		        <tr>
		          <td width="72%"><p>The  pharmacy is another vital part of the mobile health care system as medicines  are given to all the villagers free of cost. So a very well maintained pharmacy  system has been established.&nbsp; The  pharmacy is set up in a separate room which is little away from the hospital  rooms. There are volunteers trained to be pharmacist who manage this pharmacy.  The medicines are purchased previously through a established supply chain  process. The pharmacist in the pharmacy considers the stock taking of the  medicines and reports back to the supply chain. The record of the chronic  disease patients (CD Patients) are also considered in the pharmacy. </p>
		
		              </td>
		          <td width="28%" valign="top"><div align="center"><img src="/images/home_folder/pharmacy_img.jpg" width="200" height="152" /></div></td>
		        </tr>
		      </table>
	    	  <div id="diagnostic_bus_div"><p class="txtheader"><strong><a name="diagnostic" id="diagnostic"></a>Diagnostics inside Mobile Bus</strong></p></div>
		      <table width="100%" border="0" cellspacing="0" cellpadding="0">
		        <tr>
		          <td width="28%" height="152"><img src="/images/home_folder/mobile_bus.jpg" width="200" height="152" /></td>
		
		          <td width="72%" valign="top"><p>The mobile hospital bus has two  parts of diagnostics. The bus is provided with electrical power from a high  power DG set, which is kept next to the bus. The bus also plays SWAMY&rsquo;s Bhajans  throughout the day. The bus is completely air conditioned. The inside portion  of the bus is enclosed into a room and incorporates three high end diagnostics  such as:</p>
		              <table width="100%" border="0" cellspacing="0" cellpadding="0">
		                <tr>
		                  <td width="49%" class="content"><ul>
		                    <li>Ultrasound</li>
		                    <li>Antenatal Scan</li>
		                    <li>X-Ray</li>
		
		                  </ul></td>
		                  </tr>
		            </table></td>
		        </tr>
		      </table>
		      <p class="txtheader"><strong><a name="specialities" id="specialities"></a>Specialities Offered                  </strong>                  </p>
		      <table width="100%" border="0" cellspacing="0" cellpadding="0">
		        <tr>
		          <td colspan=2 valign="top">
	          		<ol class="big_bodytext">
					   <li>  Radiology, Medicine, Surgery, Orthopedics, Obstetrics & Gynaecology, E.N.T, Dentistry, Ophthalmology, Paediatrics, Dermatology, Psychiatry are available every month.</li>
					   <li>  Based on the need, specialties like Urology, Cardiology. Cardio-Thoracic Surgery, Neurology are also provided for a duration of 4 days during the 12-day programme.</li>
					</ol>
				  </td>
		        </tr>
		      </table>

		      <div id="nodal_villages_div"><p class="txtheader"><strong><a name="nodal_satilites" id="nodal_satilites"></a>Nodal Satilite Villages</strong></p></div>
			  <div>
			  	<a href="#nodal_satilite_villages_anchor" class="anchorLink" onmouseover="this.style.cursor='pointer';" onclick="$('#div_work_flow_div').slideUp('400');$('#div_nodal_satilites_div').slideDown('400');$('a.anchorLink').anchorAnimate();">Click here to display all the Nodal Satilite Villages</a>
			  </div>
			  
		      <p class="txtheader"><strong><a name="work_flow" id="work_flow"></a>Workflow at the Programme Site</strong></p>
			  <div>
			  	<a href="#work_flow_anchor" class="work_flow_anchorLink" onmouseover="this.style.cursor='pointer';" onclick="$('#div_nodal_satilites_div').slideUp('400');$('#div_work_flow_div').slideDown('400');$('a.work_flow_anchorLink').anchorAnimate();">Click here to display the Workflow</a>
			  </div>

		      <p>&nbsp;</p>
		      <p>&nbsp;</p>
		      <p>If you would like to <strong>volunteer</strong> for this program please <a href="volunteer.htm"><strong>click here </strong></a></p>
		
		      <p>&nbsp;</p></td>
		  </tr>
		</table>
	</td>
</tr></table>
