             <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-left:4px;" valign="top">
					  <tr><td colspan=2 valign="top" align="center">
					  	<div id="mob_hos_div" style="display:none;">
					  		<table cellpadding=0 cellspacing=0 border=0 width="100%">
	                      	  <tr><td colspan=3 align="right">
	                      	  	<img src="/images/home_folder/DoubleArrow_1.gif" title="Back to Full Home Page" onclick="$('#mob_hos_div').slideUp(200);$('#main_home_page').slideDown(1000);" onmouseover="this.style.cursor='pointer';">
	                      	  </td></tr>
		                      <tr><td colspan=3>
		                      	<table cellpadding=0 cellspacing=0 border=0 width="100%">
			                      <tr>
			                      	<td >
									  <img src="/images/home_folder/mobile.gif"/>
									</td>
			                        <td style="padding-left:10px;">
									  <p><strong>Sri Sathya Sai Mobile Hospital Programme </strong>is a unique rural outreach health service which was launched
									   by Sri Sathya Sai Baba on March 30, 2006. The service provided completely free of cost operates from the 1st to 12th 
									   day of every month at 12 nodal points (base villages) drawn from 6 mandals from Anantapur District namely 
									   Puttaparthi, Kothacheruvu, Bukkapatnam, Chennekothapalli (C.K.Palli), Nallamada and Obuladevaracheruvu (O.D.Cheruvu).
									   Each of these 12 nodal points serve several surrounding villages. Sixty three villages are currently being 
									   serviced by the Mobile Hospital, although in practice, patients are drawn from nearly 400 villages in the 
									   region.</p>
									</td>
								   </tr>
			                      </table>
		                      </td></tr>
		                      <tr>
		                        <td style="padding-top:5px;vertical-align:middle;padding-left:0px;" width="" class="content" colspan=2>
								  <table><tr><td>
								    <p>The Mobile Hospital is managed on an entirely voluntary basis. About 500 doctors from the State of Andhra 
								     Pradesh belonging to 12 specialties dedicate their skills and they come in rotation to serve on an ongoing 
								     basis. Some of the unique features of the Mobile Hospital include diagnostic facilities such as an 
								     ultrasonogram x-ray with automatic processor and a laboratory, which can do most of the routine pathological 
								     and bio-chemical investigations. The presence of this diagnostic support ensures quality and credibility to 
								     the services provided. </p>
								    <p>
								   	 Since this is an outreach programme, the theme of the Mobile Hospital includes three main aspects of service consisting of (i) Curative drive (ii) Preventive focus and (iii) Spiritual base.
								    </p>
								  </td></tr></table>
								</td>
		                        <td style="padding-top:5px;">
								  <img src="images/home_folder/holistic_img.gif"  border="0"/>
								</td>
		                      </tr>
							  <tr><td colspan=3>
								   <p style="padding-top:10px;">
								   	The curative drive owes its strength to the presence of doctors belonging to nine specialities on any particular day including medicine, surgery, paediatrics, orthopedics, ENT, dentistry, ophthalmology, gynaecology, and radiology. These specialists work under a common roof integrating their efforts to solve many of the intricate problem people present with. About 600 to 700 patients are seen every day at each of the nodal points. On the diagnostic front, a wide variety of tests are done in the diagnostic bus and for those tests which cannot be done in the bus, samples are collected and are delivered to the laboratories in the Sathya Sai Institute of Higher Medical Sciences, Puttaparthi for testing and reporting purposes.The curative work is further strengthened by pharmacy unit which ensures that patients with chronic ailments like diabetes, hypertension, heart disease, asthma, epilepsy, etc., are all provided with continuous and uninterrupted supply of medicines (one month supply till the next month's visit).
								   </p>
									<p>
										Patients requiring follow-up treatment like surgical intervention are referred to the Sri Sathya Sai hospitals and their medical conditions are monitored till the logical solutions are addressed.   
									</p>
									<p>The preventive work consists of health education, which covers several aspects of keeping good health extensively and in detail. Five major health-related topics are discussed: cleanliness (environmental, home and individual), nutrition, healthy air and water, harmful effects of smoking and alcoholism, proper physical exercise and relaxation of mind. Education on these subjects is done at the individual, family, and community levels using a variety of tools that includes audiovisual presentations, demonstrative sessions, interactive meetings, photo exhibition and is further reinforced by relaying these presentations regularly via the local cable television network.</p>									    
									<p>The spiritual base of the service involves explaining and motivating people on the importance of positive thinking, human values, prayer and meditation, all of which foster positive health. A variety of programmes that focus on these values are conducted.</p>
									<p>
										Comprehensive healthcare is provided to these communities through preventive healthcare, diagnosis and treatment of common minor and chronic ailments. Only those requiring major surgical intervention are referred to the tertiary-care hospitals.The impact of the Mobile Hospital services has been tremendous. On the curative front, it has given a sense of great security to people living in nearly 100 villages around Puttaparthi. 
										It is a boon for patients with chronic ailments who might not be able to buy medicines on a continuous basis. The preventive services have created a huge wave of awareness on major health issues, which is slowly getting translated into changing habits, for the better. The spiritual component of the service has strengthened the community bonds and has reminded people that spirituality is the way of life and practicing human values leads to positive health and happiness.
										The Mobile Hospital is thus acting as a vehicle for providing comprehensive healthcare and is also becoming an instrument for dissemination of the ideals of healthcare which Sri Sathya Sai Baba has set. It is not only a state-of-the-art rural outreach service but also a state-of-the-heart caring and loving service.
									</p>
								</td>
							  </tr>
	                      	  <tr><td colspan=3 align="right">
	                      	  	<img src="/images/home_folder/DoubleArrow_1.gif" title="Back to Full Home Page" onclick="$('#mob_hos_div').slideUp(200);$('#main_home_page').slideDown(1000);" onmouseover="this.style.cursor='pointer';">
	                      	  </td></tr>
					  		</table>
					  	</div>
					  </td></tr>
              <tr height="369px;">
                <td height="213" valign="top"><div id="main_home_page">
                 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="48%" height="213" valign="top">
                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td colspan="2">
							<div class="side_headings_2">
								SRI SATHYA SAI MOBILE HOSPITAL PROGRAMME<br><br>
						 	</div>
							<div id="more_info_ssmh_prog" style="display:none;position:absolute;z-index:1;padding-left:30px;padding-top:10px;">
							  <table width=100% border=0 cellpadding=0 cellspacing=0 class="home_page_more_display_table" >
								<tr>
								  <td>
								    <img src="/images/home_folder/home_top.gif" border=0 usemap="#MAP_home_top_map">
									<map name="MAP_home_top_map">
										<area shape="rect" coords="745,0,775,30" title="Close" onclick="take_up_details('more_info_ssmh_prog');" onmouseover="this.style.cursor='pointer';">
									</map>
								  </td>
								  </tr>
								  <tr class="home_page_more_display">
									  <td>
										<div id="home_page_more_display_content" style="padding-left:10px;width:750px;">
                        					<img src="/images/home_folder/program_titles.gif" align="center" />
											<p>Sri Sathya Sai Mobile Hospital is a unique rural outreach health service which was launched by Sri Sathya Sai Baba on March 30, 2006. The service provided completely free of cost operates from the 1st to 12th day of every month at 12 nodal points (base villages) drawn from 6 mandals from Anantapur District namely Puttaparthi, Kothacheruvu, Bukkapatnam, Chennekothapalli (C.K.Palli), Nallamada and Obuladevaracheruvu (O.D.Cheruvu). Each of these 12 nodal points serve several surrounding villages. Sixty three villages are currently being serviced by the Mobile Hospital, although in practice, patients are drawn from nearly 400 villages in the region. </p>
											<p>The Mobile Hospital is managed on an entirely voluntary basis. About 500 doctors from the State of Andhra Pradesh belonging to 12 specialties dedicate their skills and they come in rotation to serve on an ongoing basis.
											Some of the unique features of the Mobile Hospital include diagnostic facilities such as an ultrasonogram x-ray with automatic processor and a laboratory, which can do most of the routine pathological and bio-chemical investigations. The presence of this diagnostic support ensures quality and credibility to the services provided. </p>
											<p>Since this is an outreach programme, the theme of the Mobile Hospital includes three main aspects of service consisting of (i) Curative drive (ii) Preventive focus and (iii) Spiritual base.</p>
											<p>The curative drive owes its strength to the presence of doctors belonging to nine specialities on any particular day including medicine, surgery, paediatrics, orthopedics, ENT, dentistry, ophthalmology, gynaecology, and radiology. These specialists work under a common roof integrating their efforts to solve many of the intricate problem people present with. About 600 to 700 patients are seen every day at each of the nodal points. On the diagnostic front, a wide variety of tests are done in the diagnostic bus and for those tests which cannot be done in the bus, samples are collected and are delivered to the laboratories in the Sathya Sai Institute of Higher Medical Sciences, Puttaparthi for testing and reporting purposes.The curative work is further strengthened by pharmacy unit which ensures that patients with chronic ailments like diabetes, hypertension, heart disease, asthma, epilepsy, etc., are all provided with continuous and uninterrupted supply of medicines (one month supply till the next month's visit).
											</p>
											<p>
												Patients requiring follow-up treatment like surgical intervention are referred to the Sri Sathya Sai hospitals and their medical conditions are monitored till the logical solutions are addressed.   
											</p>
											<p>The preventive work consists of health education, which covers several aspects of keeping good health extensively and in detail. Five major health-related topics are discussed: cleanliness (environmental, home and individual), nutrition, healthy air and water, harmful effects of smoking and alcoholism, proper physical exercise and relaxation of mind. Education on these subjects is done at the individual, family, and community levels using a variety of tools that includes audiovisual presentations, demonstrative sessions, interactive meetings, photo exhibition and is further reinforced by relaying these presentations regularly via the local cable television network.</p>									    
											<p>The spiritual base of the service involves explaining and motivating people on the importance of positive thinking, human values, prayer and meditation, all of which foster positive health. A variety of programmes that focus on these values are conducted.</p>
											<p>
												Comprehensive healthcare is provided to these communities through preventive healthcare, diagnosis and treatment of common minor and chronic ailments. Only those requiring major surgical intervention are referred to the tertiary-care hospitals.The impact of the Mobile Hospital services has been tremendous. On the curative front, it has given a sense of great security to people living in nearly 100 villages around Puttaparthi. 
												It is a boon for patients with chronic ailments who might not be able to buy medicines on a continuous basis. The preventive services have created a huge wave of awareness on major health issues, which is slowly getting translated into changing habits, for the better. The spiritual component of the service has strengthened the community bonds and has reminded people that spirituality is the way of life and practicing human values leads to positive health and happiness.
												The Mobile Hospital is thus acting as a vehicle for providing comprehensive healthcare and is also becoming an instrument for dissemination of the ideals of healthcare which Sri Sathya Sai Baba has set. It is not only a state-of-the-art rural outreach service but also a state-of-the-heart caring and loving service.
											</p>
										</div> 
									  </td>
								  </tr>
								  <tr><td>
									<img src="/images/home_folder/home_bottom.gif" border=0>
								  </td></tr>
							    </table>
							</div>
							
						</td>
                      </tr>
                      <tr>
                        <td style="padding-top:5px;"><img src="/images/home_folder/mobile.gif"/></td>
                        <td style="padding-top:5px;" width="56%" class="content">
						  <p><strong>Sri Sathya Sai Mobile Hospital Programme </strong>is a unique rural outreach health service which was launched
						   by Sri Sathya Sai Baba on March 30, 2006. The service provided completely free of cost operates from the 1st to 12th 
						   day of every </p>
						</td>
                      </tr>
                      <tr>
                        <td height="78" colspan="2" valign="top" style="padding-top:10px;">
							<p>month at 12 nodal points (base villages) drawn from 6 mandals from Anantapur District namely Puttaparthi, Kothacheruvu, Bukkapatnam, Chennekothapalli (C.K.Palli), Nallamada and Obuladevaracheruvu (O.D.Cheruvu). Each of these 12 nodal points serve several surrounding villages. Sixty three villages are currently being serviced by the Mobile Hospital, although in practice, patients are drawn from nearly 400 villages in the region. </p>
						</td>
                      </tr>
                      <tr>
                        <td height="17" colspan="2" valign="top">
                        	<div align="right">
                        	  <img src="/images/home_folder/more.gif" border="0" onclick="$('#main_home_page').slideUp(200);$('#mob_hos_div').slideDown(1000);" onmouseover="this.style.cursor='pointer';"/>
							</div>
						</td>
                      </tr>
                    </table></td>
                    <td width="3%"><table width="43%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="201" valign="top" background="/images/home_folder/v_spaacer.gif"><img src="/images/home_folder/v_spaacer.gif"/></td>
                      </tr>
                    </table></td>
                    <td width="49%" valign="top"><div id="user_login_div">
                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
			    	 <%if session[:user] == nil%>
	                      <tr>
	                        <td>
								<div class="side_headings_2">
									USER LOGIN<br><br>
							 	</div>
							</td>
	                      </tr>
	                      <tr>
	                        <td>
	                         <div id="error_messages"></div>
						 	 <% form_tag('/account/login') do -%>
		                         <table width="80%" border="0" cellspacing="0" cellpadding="2" class="table" style="padding-top:5px;" align="center">
		                          <tr>
		                            <td width="33%" class="tdbgcell"><div style="padding-top:5px;" align="right"><strong>Username :</strong></div></td>
		                            <td width="47%" class="tdbgwhitecell">
		  								<%= text_field_tag 'login' %>
									</td>
		                            <td width="20%">&nbsp;</td>
		                          </tr>
		                          
		                          <tr>
		                            <td class="tdbgcell"><div align="right"><strong>Password :</strong></div></td>
		
		                            <td class="tdbgwhitecell">
	                        			<%= password_field_tag 'password' %>
									</td>
		                            <td><div align="right">
		                                <input type="submit" name="Submit" value="Login" class="but" />
		                            </div></td>
		                          </tr>
		                          <tr>
		                          	<td><div align="left"><a href="/account/signup"><b>Sign Up</b></a></div></td>
		                            <td><div align="left"><a href="#"><b>Forgot Password?</b></a></div></td>
								    <td align="left">
										<p><label for="remember_me" class="remember_me_class">Remember me:</label>
										<%= check_box_tag 'remember_me' %></p><br>
								  	</td>
	  	                          </tr>
		                        </table>
							<% end -%>
						   </td>
	                      </tr>
	                      <tr>
	                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
	                          <tr>
	                            <td background="/images/home_folder/dotted_line.gif"><img src="/images/home_folder/dotted_line.gif" width="148" height="5" /></td>
	                          </tr>
	                        </table></td>
	                      </tr>
					    <div id="holistic_health_div">
						  <tr>
			                <td colspan=2>
								<div class="side_headings_2">
									<br>
					  <%else%>
					    <div id="holistic_health_div">
						  <tr>
			                <td colspan=2>
								<div class="side_headings_2">
				      <%end%>
					  
								HOLISTIC HEALTH<br><br>
							 	</div>
							</td>
			              </tr>
						  <tr>
			                <td colspan=2>
								<table cellpadding="0" cellspacing="0" border="0" width="100%">
									<tr>
										<td valign="middle" width="35%" align="center">
										  <img src="images/home_folder/holistic_img.gif"  border="0" />
										</td>
										<td class="content"  width="65%" valign="top" align="justify"><i><font color="#a20606">"Having its basis on Bhagawan Sri Sathya Sai Baba's vision of ideal healthcare, and the need for Universal, Free, Loving, Comprehensive & Preventive health care services, Sri Sathya Sai Mobile Hospital programme works with a three-pronged strategy of 'Preventive Focus', 'Curative Drive' and 'Spiritual Base'".</font></i><br><br></td>
									</tr>
								</table>
							</td>
			              </tr>
						</div>
                    </table></td>
                  </tr>
                </table></div></td>
              </tr>
            </table>

