             <table width="228px" cellspacing="0" cellpadding="0" >
              <tr>
                <td>
                 <table cellpadding="0" cellspacing="0" bgcolor="#D1A661">
                  <tr>
                    <td colspan=2 width="207" class="tdbgblack" >Mobile Hospital Programme</td>
                  </tr>

                  <tr>
                    <td  width="5" valign="top" bgcolor="4F4B43" class="navtdbg" ></td>
                    <td  class="tdbgmouseout" onmouseover="this.className='tdbgmouseover'" onmouseout="this.className='tdbgmouseout'" ><a href="#" class="programs" onclick="change_tab_and_scroll('home_tabs',2,'welcome_div');">Welcome</a></td>
                  </tr>
                  <tr>
                    <td  bgcolor="4F4B43" class="navtdbg" >&nbsp;</td>
                    <td  class="tdbgactive" onmouseover="this.className='tdbgmouseover' " onmouseout="this.className='tdbgmouseout'"><a href="#" class="programs" onclick="change_tab_and_scroll('home_tabs',2,'inaguration_div');">Inaguration &amp; Program Briefing </a> </td>
                  </tr>
                  <tr>
                    <td  bgcolor="4F4B43" class="navtdbg"  >&nbsp;</td>
                    <td  class="tdbgmouseout" onmouseover="this.className='tdbgmouseover'" onmouseout="this.className='tdbgmouseout'"><a href="#" class="programs" onclick="change_tab_and_scroll('home_tabs',2,'receiption_div');">Reception</a></td>
                  </tr>
                  <tr>
                    <td  bgcolor="4F4B43" class="navtdbg" >&nbsp;</td>
                    <td  class="tdbgmouseout" onmouseover="this.className='tdbgmouseover'" onmouseout="this.className='tdbgmouseout'"><a href="#" class="programs" onclick="change_tab_and_scroll('home_tabs',2,'waiting_area_div');">Waiting Area </a></td>

                  </tr>
                  <tr>
                    <td  bgcolor="4F4B43" class="navtdbg"  >&nbsp;</td>
                    <td  class="tdbgmouseout" onmouseover="this.className='tdbgmouseover'" onmouseout="this.className='tdbgmouseout'"><a href="#" class="programs" onclick="change_tab_and_scroll('home_tabs',2,'hospital_rooms_div');">Hospital Rooms </a></td>
                  </tr>
                  <tr>
                    <td  bgcolor="4F4B43" class="navtdbg" >&nbsp;</td>
                    <td  class="tdbgmouseout" onmouseover="this.className='tdbgmouseover'" onmouseout="this.className='tdbgmouseout'"><a href="#" class="programs" onclick="change_tab_and_scroll('home_tabs',2,'pharmacy_div');">Pharmacy </a></td>

                  </tr>
                  <tr>
                    <td  bgcolor="4F4B43" class="navtdbg" >&nbsp;</td>
                    <td  class="tdbgmouseout" onmouseover="this.className='tdbgmouseover'" onmouseout="this.className='tdbgmouseout'"><a href="#" class="programs" onclick="change_tab_and_scroll('home_tabs',2,'diagnostic_bus_div');">Diagnostic Bus</a></td>
                  </tr>
                </table>
		    </td>
              </tr>
              <tr>
                <td><img name="" src="" width="3" height="3" alt="" /></td>
              </tr>
              <tr>
                <td valign="top">
                 <table width="93%"  border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="4"  bgcolor="#000000">&nbsp;</td>
                    <td width="151" class="news_tdbgblack" >News &amp; Events </td>

                    <td class="news_tdbgblack" ><table width="72%" border="0" align="right" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="56%"><div id="" class="archives" onmouseover="this.style.cursor='pointer'" onclick="get_and_displace_page('/home/news_and_events','home_main_page_update_div','home_page_main_partial');">more&nbsp;&nbsp;</div></td>
                        <td width="44%"><img src="/images/home_folder/icon.gif" width="13" height="13" /></td>
                      </tr>
                     </table>
					</td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="100%" colspan="0" valign="top">
                          	<div class="news_and_events_marquee">
                          		<marquee scrollamount="2" height="100px;" behavior="scroll" direction="up" >
                          			<a target="_blank" href="http://www.sssmt.org.in/pages/index.asp" style="padding-left:5px;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:11;font-weight:bold;color:#69696A;">
                          				Sri Sathya Sai Central Trust.
                          			</a><br><br>
                          			<a target="_blank" href="http://www.sssmt.org.in/pages/mobile-hospital.htm" style="padding-left:5px;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:11;font-weight:bold;color:#69696A;">
                          				Sri Sathya Sai Central Trust - Mobile Hospital
                          			</a>
                          		</marquee>
                          	</div>
						  </td>
                        </tr>
                      </table>
					</td>
                  </tr>
                </table>
			   </td>
              </tr>
              <tr>
                <td><table width="93%"  border="0" cellpadding="0" cellspacing="0">
                  <tr>

                    <td width="4"  bgcolor="#000000">&nbsp;</td>
                    <td width="151" class="tdbgblack" >Feel of Pride </td>
                    <td class="tdbgblack" ><table width="72%" border="0" align="right" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="56%"><div id="" class="archives" onmouseover="this.style.cursor='pointer'" onclick="get_and_displace_page('/home/testimonials','home_main_page_update_div','home_page_main_partial');">more&nbsp;&nbsp;</div></td>
                          <td width="44%"><img src="/images/home_folder/icon.gif" width="13" height="13" /></td>
                        </tr>
                    </table></td>

                  </tr>
                  <tr>
                    <td colspan="3" ><table width="100%" border="0" cellspacing="2" cellpadding="2">
                        <tr>
                          <td width="100%" colspan="2" valign="top"><script language="JavaScript" type="text/javascript">Tscroll_init (0)</script></td>
                        </tr>
                    </table></td>
                  </tr>

                </table></td>
              </tr>
              <tr>
                <td><table width="93%"  border="0" cellpadding="0" cellspacing="0">
                  
                  <tr>
                    <td colspan="3" ><table width="100%" border="0" cellspacing="2" cellpadding="2">
                      <tr>
                        <td width="36%" valign="top"><img src="/images/home_folder/doctor_dummy.gif" width="67" height="67" /></td>
                        <td width="64%">&quot; It is my commitment at this program to reach out and provide world class   health care services to the community around us&quot;</td>

                      </tr>
                      <tr>
                        <td colspan="2" valign="top"><div align="right"><strong class="txtblue">- Dr. Radha M, Bangalore, India </strong></div></td>
                      </tr>
                    </table></td>
                  </tr>
                  
                </table></td>
              </tr>

            </table>