	<div id="home_tabs">
		<ul>
			<li><a href="#contact">Contact</a></li>
			<li><a href="/home/newsletters">Newsletter</a></li>
			<li><a href="/home/programme_statistics">Programme Statistics</a></li>
			<li><a href="/home/image_gallery">Gallery</a></li>
			<li><a href="/home/about_us">About Us</a></li>
			<li><a href="#home">Home</a></li>
		</ul>
		<div id="contact" align="center" class="home_tabs_class">
			<div style="font-weight:bold;height:350px;vertical-align:middle;font-family:Garamond;font-size:20;color:#69696A;padding-top:50px;">
				The Programme Director,<br>
				Sri Sathya Sai Mobile Hospital,<br>
				(A Unit of Sri Sathya Sai Central Trust)<br>
				Prasanthi Nilayam - 515134<br>
				Anantapur District,<br>
				Andhra Pradesh, India.<br><br>
				
				Phone: +91-9963051789<br>
				Email: sssmhdir at sssmt.org.in<br>
			</div>
		</div>
			
		<div id="newsletters" class="home_tabs_class"></div>

		<div id="programme_statistics"  class="home_tabs_class"></div>
		
		<div id="image_gallery" class="home_tabs_class"></div>
		
		<div id="about_us" class="home_tabs_class"></div>
		
		<div id="home" class="home_tabs_class">
			<%= render :partial => 'home_page_partial'%>
		</div>
	</div>