<div id="testimonials_div">
	<table>
	  <tr><td>
		<div id="" align="right" onmouseover="this.style.cursor='pointer'" onclick="$('#testimonials_div').slideUp(400);$('#home_page_main_partial').fadeIn(400);">Back Home</div>
	  </td></tr>
			  
	  <tr>
		<td width="762" valign="top">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
		          <tr>
		            <td height="26"><div align="right"><img src="/images/home_folder/testimonials_title.gif" border="0" /></div></td>
		          </tr>
		
		          <tr>
		            <td valign="top"><table width="100%" border="0" cellspacing="12" cellpadding="0">
		              <tr>                   
		              		<td width="12%" valign="top"><img src="/images/home_folder/doctor_dummy.gif" border="0" /></td>
							<td class="content">"It is my commitment at this program to reach out and provide world class health care services to the community around us"
									<br /><br /><strong>- Dr. Radha M, Bangalore, India </strong></td>
					  </tr>
		             </table>
		            </td>
		
		          </tr>
		        </table>
		</td>
	</tr></table>
</div>
