Thank you for registering at the "E-Commerce with RoR" website. <br>
Please click on this link to activate your account.<br>
<a href="http://127.0.0.1:3001/activate?user_id=<%=@user.id%>"> Click Here </a>

<br>Thanks and Regards,<br>
<b>E-Commerce With RoR team</b>