Hi <%=@user.first_name.capitalize%>,
<br> Please click on this link to reset your password.
<br><a href="http://127.0.0.1:3001<%=url_for :controller=>'login',:action=>'reset_password_screen',:user=>@user%>" target=blank>
Click Here to change your password</a>

<br>

Regards,<br>
<b>RoR E-Commerce Team</b>
