Hi <%if @user.gender=="M"%>Mr.<%else%>Mrs.<%end%>
 <%=@user.last_name+" "+@user.first_name%><br><br>

E-Commerce with RoR brings some special offers to you as you are a primium customer.<br><br>

Here are the Offer Details.<br><br>

<%=@offer_description%>