	
	  <table align="center" class="change_password_table" border=0>
	   <tr>
	   	 <td width=50% align="center" >
	   	 	Current Password
	     </td>
	   	 <td align="center">
	   	 	<input type="password" id="current_password">
	     </td>
	  </tr>
	   <tr>
	   	 <td align="center" >
	   	 	New Password
	     </td>
	   	 <td align="center" >
	   	 	<input type="password" id="new_password">
	     </td>
	  </tr>
	   <tr>
	   	 <td align="center" >
	   	 	Confirm New Password
	     </td>
	   	 <td align="center" >
	   	 	<input type="password" id="new_password_confirmation">
	     </td>
	  </tr>
	   <tr>
	   	 <td align="center" colspan=2>
	   	 	<input type="button" value="Change My Password" onclick="verify_password();">
	     </td>
	  </tr>
	 </table>
