<% if !@error_message.blank? %>
  $("#change_password_error_div").html("Please correct the following errors before proceeding : <ul><li><%=@error_message%></li></ul>");
  $("#change_password_error_div").slideDown(1000);
<%else%>
  $("#change_password_error_div").html("Password Changed Succussfully");
  $("#change_password_error_div").slideDown(1000);
<%end%>